{% extends 'base.html.twig' %}

{% block title %}
    Movies
{% endblock %}

{% block body %}
    <h1>Results: {{ count }}</h1>
    <ul>
        {% for key, movie in movies %}
            <li>{{ key+1 }}. {{ movie.title }}</li>
        {% endfor %}
    </ul>

{% endblock %}

